In [2]:
## import modules
import urllib.request as urlr
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime

import bs4_functions

### Step 1: Get Races Urls

In [3]:
url = urlr.urlopen("https://www.racing-statistics.com/en/seasons")
soup = BeautifulSoup(url)
rows = soup.find_all('table')[0].find_all('tr')[52:]
# The 2001 season is the 52nd season. So we create an array called rows from there on.

            
season_links = [i for i in bs4_functions.season_link_gen(rows)] # Array of array with [season_name, season_url]

In [4]:
## table_number 1, cell position 2
races_urls = []
for season in season_links:
    url = season[1]
    print(url)
    table_number = 1
    cell_position = 2
    for i in  bs4_functions.get_links_from_table(url, table_number, cell_position, v_list=[], year_flag=True,s_name=False):
        races_urls.append(i)

https://www.racing-statistics.com/en/seasons/2001
https://www.racing-statistics.com/en/seasons/2002
https://www.racing-statistics.com/en/seasons/2003
https://www.racing-statistics.com/en/seasons/2004
https://www.racing-statistics.com/en/seasons/2005
https://www.racing-statistics.com/en/seasons/2006
https://www.racing-statistics.com/en/seasons/2007
https://www.racing-statistics.com/en/seasons/2008
https://www.racing-statistics.com/en/seasons/2009
https://www.racing-statistics.com/en/seasons/2010
https://www.racing-statistics.com/en/seasons/2011
https://www.racing-statistics.com/en/seasons/2012
https://www.racing-statistics.com/en/seasons/2013
https://www.racing-statistics.com/en/seasons/2014
https://www.racing-statistics.com/en/seasons/2015
https://www.racing-statistics.com/en/seasons/2016
https://www.racing-statistics.com/en/seasons/2017
https://www.racing-statistics.com/en/seasons/2018
https://www.racing-statistics.com/en/seasons/2019
https://www.racing-statistics.com/en/seasons/2020
https://www.racing-statistics.com/en/seasons/2021

### Step 2: Get the arrays

In [12]:
## Get the appendendable Arrays
def array_generator(init, end, table_number):
    for url_array in races_urls[init: end]:
        ## each element in races_urls is an array(it al)
        yield np.array(bs4_functions.get_results(url_array[1], result_type='grid',table_number=table_number))

In [15]:
array_1 = np.concatenate([i for i in array_generator(0,68,3)])

In [20]:
pd.DataFrame(array_1)

       0       1                      2         3                           4
0      1             Michael Schumacher   Ferrari  2001 Australian Grand Prix
1      2             Rubens Barrichello   Ferrari  2001 Australian Grand Prix
2      3                  Mika Häkkinen   McLaren  2001 Australian Grand Prix
3      4          Heinz-Harald Frentzen    Jordan  2001 Australian Grand Prix
4      5                Ralf Schumacher  Williams  2001 Australian Grand Prix
...   ..     ...                    ...       ...                         ...
1406  16  +1.565        Christian Klien    Jaguar   2004 Brazilian Grand Prix
1407  17  +2.183          Nick Heidfeld    Jordan   2004 Brazilian Grand Prix
1408  18  +2.856             Timo Glock    Jordan   2004 Brazilian Grand Prix
1409  19  +2.904      Zsolt Baumgartner   Minardi   2004 Brazilian Grand Prix
1410  20                Gianmaria Bruni   Minardi   2004 Brazilian Grand Prix

[1411 rows x 5 columns]

In [25]:
array_2 = np.concatenate([i for i in array_generator(68,len(races_urls)+1,4)])

In [26]:
pd.DataFrame(array_2)

,0,1,2,3,4
0,1,1:28.289,Giancarlo Fisichella,Renault,2005 Australian Grand Prix
1,2,+0.870,Jarno Trulli,Toyota,2005 Australian Grand Prix
2,3,+-1:-1.-10,Mark Webber,Williams,2005 Australian Grand Prix
3,4,+1.573,Jacques Villeneuve,Sauber,2005 Australian Grand Prix
4,5,+0.603,David Coulthard,Red Bull,2005 Australian Grand Prix
...,...,...,...,...,...
6902,16,+2.229,Nicholas Latifi,Williams,2021 Abu Dhabi Grand Prix
6903,17,+2.314,George Russell,Williams,2021 Abu Dhabi Grand Prix
6904,18,+2.670,Kimi Räikkönen,Alfa Romeo,2021 Abu Dhabi Grand Prix
6905,19,+2.797,Mick Schumacher,Haas F1 Team,2021 Abu Dhabi Grand Prix
6906,20,+3.576,Nikita Mazepin,Haas F1 Team,2021 Abu Dhabi Grand Prix

In [27]:
full_array = np.concatenate([array_1, array_2])

In [29]:
full_df = pd.DataFrame(full_array)

In [31]:
full_df.to_csv('./data/f1_grid.csv', index=False)