In [1]:
import numpy as np
import pandas as pd

In [3]:
ls data

f1_grid.csv     f1_results.csv

In [5]:
path = './data/'

grid = pd.read_csv(path + 'f1_grid.csv')
results = pd.read_csv(path + 'f1_results.csv')

In [16]:
grid.columns = ['positions', 'time', 'driver', 'constructor', 'race']
results.columns = ['positions','laps', 'time', 'points', 'driver', 'constructor', 'race']

In [18]:
results.head()

,positions,laps,time,points,driver,constructor,race
0,1.0,1:38:26.533,58,10.0,Michael Schumacher,Ferrari,2001 Australian Grand Prix
1,2.0,+1.717,58,6.0,David Coulthard,McLaren,2001 Australian Grand Prix
2,3.0,+33.491,58,4.0,Rubens Barrichello,Ferrari,2001 Australian Grand Prix
3,4.0,+1:11.479,58,3.0,Nick Heidfeld,Sauber,2001 Australian Grand Prix
4,5.0,+1:12.807,58,2.0,Heinz-Harald Frentzen,Jordan,2001 Australian Grand Prix

In [19]:
grid.head()

,positions,time,driver,constructor,race
0,1,NaN,Michael Schumacher,Ferrari,2001 Australian Grand Prix
1,2,NaN,Rubens Barrichello,Ferrari,2001 Australian Grand Prix
2,3,NaN,Mika Häkkinen,McLaren,2001 Australian Grand Prix
3,4,NaN,Heinz-Harald Frentzen,Jordan,2001 Australian Grand Prix
4,5,NaN,Ralf Schumacher,Williams,2001 Australian Grand Prix