In [1]:
## import modules
import urllib.request as urlr
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime

import bs4_functions

### Step 1: Get Races Urls

In [2]:
url = urlr.urlopen("https://www.racing-statistics.com/en/seasons")
soup = BeautifulSoup(url)
rows = soup.find_all('table')[0].find_all('tr')[52:]
# The 2001 season is the 52nd season. So we create an array called rows from there on.

            
season_links = [i for i in bs4_functions.season_link_gen(rows)] # Array of array with [season_name, season_url]

In [3]:
## table_number 1, cell position 2
races_urls = []
for season in season_links:
    url = season[1]
    print(url)
    table_number = 1
    cell_position = 2
    for i in  bs4_functions.get_links_from_table(url, table_number, cell_position, v_list=[], year_flag=True,s_name=False):
        races_urls.append(i)

https://www.racing-statistics.com/en/seasons/2001
https://www.racing-statistics.com/en/seasons/2002
https://www.racing-statistics.com/en/seasons/2003
https://www.racing-statistics.com/en/seasons/2004
https://www.racing-statistics.com/en/seasons/2005
https://www.racing-statistics.com/en/seasons/2006
https://www.racing-statistics.com/en/seasons/2007
https://www.racing-statistics.com/en/seasons/2008
https://www.racing-statistics.com/en/seasons/2009
https://www.racing-statistics.com/en/seasons/2010
https://www.racing-statistics.com/en/seasons/2011
https://www.racing-statistics.com/en/seasons/2012
https://www.racing-statistics.com/en/seasons/2013
https://www.racing-statistics.com/en/seasons/2014
https://www.racing-statistics.com/en/seasons/2015
https://www.racing-statistics.com/en/seasons/2016
https://www.racing-statistics.com/en/seasons/2017
https://www.racing-statistics.com/en/seasons/2018
https://www.racing-statistics.com/en/seasons/2019
https://www.racing-statistics.com/en/seasons/2020
https://www.racing-statistics.com/en/seasons/2021
https://www.racing-statistics.com/en/seasons/2022

### Step 2: Get the arrays

In [31]:
## Get the appendendable Arrays
def array_generator(init, end, table_number,races_urls):
    for url_array in races_urls[init: end]:
        ## each element in races_urls is an array(it al)
        yield np.array(bs4_functions.get_results(url_array[1], result_type='race',table_number=table_number))

The init and end is because not always are the **result tables** found in the **second position**

array_1 = np.concatenate([i for i in array_generator(0,60,2)])

array_2 = np.concatenate([i for i in array_generator(60,68,2)])

end = len(races_urls) + 1
array_3 = np.concatenate([i for i in array_generator(68, end,3)])

In [54]:
pd.DataFrame(array_3)

,0,1,2,3,4,5,6
0,1,1:24:17.336,57,10,Giancarlo Fisichella,Renault,2005 Australian Grand Prix
1,2,+5.553,57,8,Rubens Barrichello,Ferrari,2005 Australian Grand Prix
2,3,+6.712,57,6,Fernando Alonso,Renault,2005 Australian Grand Prix
3,4,+16.131,57,5,David Coulthard,Red Bull,2005 Australian Grand Prix
4,5,+16.908,57,4,Mark Webber,Williams,2005 Australian Grand Prix
...,...,...,...,...,...,...,...
6925,15,Engine,55,0,Sergio Pérez,Red Bull,2021 Abu Dhabi Grand Prix
6926,,Accident,50,0,Nicholas Latifi,Williams,2021 Abu Dhabi Grand Prix
6927,,Gearbox,33,0,Antonio Giovinazzi,Alfa Romeo,2021 Abu Dhabi Grand Prix
6928,,Gearbox,26,0,George Russell,Williams,2021 Abu Dhabi Grand Prix
6929,,Brakes,25,0,Kimi Räikkönen,Alfa Romeo,2021 Abu Dhabi Grand Prix

In [56]:
full_arrays = np.concatenate([array_1,array_2, array_3])

In [58]:
results = pd.DataFrame(full_arrays)

In [59]:
# results.to_csv('f1_results.csv', index=False)

#### Get 2003 and 2004 Races.

In [29]:
races_urls_03_04 = races_urls[34:68]

In [35]:
def array_generator2(table_number,races_urls):
    for url_array in races_urls:
        ## each element in races_urls is an array(it al)
        yield np.array(bs4_functions.get_results(url_array[1], result_type='race',table_number=table_number))

In [38]:
array1 = np.concatenate([i for i in array_generator2(2, races_urls_03_04)])

#### Concat the added races with the old ones.

In [51]:
results = pd.read_csv('data/f1_results.csv')

In [92]:
df1 = results.iloc[:736,:]
df2 = pd.DataFrame(array1)
df3 = results.iloc[896:,:]
df1.columns = df2.columns = df3.columns

In [122]:
complete_df = pd.concat([df1,df2,df3])
complete_df.reset_index(inplace=True, drop=True)

In [123]:
## complete_df.to_csv('data/f1_results.csv', index=False)

### Separating first and last name

In [131]:
## results = complete_df

In [145]:
## I could have made a function that searched for patterns, but there where not that many names
## Which exceeded 2 words. So I just copied and do it manually.

def get_first_name(x):
    if x == 'Juan Pablo Montoya':
        return 'Juan Pablo'
    elif x == 'Pedro de la Rosa':
        return 'Pedro'
    elif x == 'Nelson Piquet Jr.':
        return 'Nelson'
    elif x == 'Lucas di Grassi':
        return 'Lucas'
    elif x == 'Paul di Resta':
        return 'Paul'
    elif x == 'Giedo van der Garde':
        return 'Giedo'
    else:
        return x.split(' ')[0]
    
def get_last_name(x):
    if x == 'Juan Pablo Montoya':
        return 'Montoya'
    elif x == 'Pedro de la Rosa':
        return 'de la Rosa'
    elif x == 'Nelson Piquet Jr.':
        return 'Piquet Jr.'
    elif x == 'Lucas di Grassi':
        return 'di Grassi'
    elif x == 'Paul di Resta':
        return 'di Resta'
    elif x == 'Giedo van der Garde':
        return 'van der Garde'
    else:
        return x.split(' ')[-1]

In [146]:
results['first_name'] = results['4'].apply(get_first_name)
results['last_name'] = results['4'].apply(get_last_name)

In [149]:
results.columns = ['result', 'time', 'laps', 'points', 'full_name', 
                   'constructor', 'race', 'first_name', 'last_name']

In [151]:
results.drop(['full_name'], axis=1, inplace=True)

In [152]:
results

,result,time,laps,points,constructor,race,first_name,last_name
0,1.0,1:38:26.533,58,10.0,Ferrari,2001 Australian Grand Prix,Michael,Schumacher
1,2.0,+1.717,58,6.0,McLaren,2001 Australian Grand Prix,David,Coulthard
2,3.0,+33.491,58,4.0,Ferrari,2001 Australian Grand Prix,Rubens,Barrichello
3,4.0,+1:11.479,58,3.0,Sauber,2001 Australian Grand Prix,Nick,Heidfeld
4,5.0,+1:12.807,58,2.0,Jordan,2001 Australian Grand Prix,Heinz-Harald,Frentzen
...,...,...,...,...,...,...,...,...
8341,15.0,Engine,55,0.0,Red Bull,2021 Abu Dhabi Grand Prix,Sergio,Pérez
8342,NaN,Accident,50,0.0,Williams,2021 Abu Dhabi Grand Prix,Nicholas,Latifi
8343,NaN,Gearbox,33,0.0,Alfa Romeo,2021 Abu Dhabi Grand Prix,Antonio,Giovinazzi
8344,NaN,Gearbox,26,0.0,Williams,2021 Abu Dhabi Grand Prix,George,Russell
8345,NaN,Brakes,25,0.0,Alfa Romeo,2021 Abu Dhabi Grand Prix,Kimi,Räikkönen

In [153]:
## results.to_csv('data/f1_results.csv', index=False)