In [1]:
### Python basic modules ###
import os
import getpass

### EDA modules ###
import numpy as np
import pandas as pd

### For my sql connection ###
from sqlalchemy import create_engine
import pymysql

In [2]:
### Stablish connection ###
password = getpass.getpass()
connection_string='mysql+pymysql://root:'+password+'@localhost:3306/formula_1'
engine= create_engine(connection_string)

········

In [3]:
statement = "select * from drivers"
pd.DataFrame(engine.execute(statement))

       0        1            2           3          4     5
0      1  Michael   Schumacher  1969-01-03     German  male
1      2    David    Coulthard  1971-03-27    British  male
2      3   Rubens  Barrichello  1972-05-23  Brazilian  male
3      4     Ralf   Schumacher  1975-06-30     German  male
4      5     Mika     Häkkinen  1968-09-28    Finnish  male
..   ...      ...          ...         ...        ...   ...
111  112   Pietro   Fittipaldi  1996-06-25  Brazilian  male
112  113     Jack       Aitken  1995-09-23    British  male
113  114     Yuki      Tsunoda  2000-05-11   Japanese  male
114  115     Mick   Schumacher  1999-03-22     German  male
115  116   Nikita      Mazepin  1999-03-02    Russian  male

[116 rows x 6 columns]

### 1) Inserting Drivers

In [7]:
data = pd.read_csv("data/drivers.csv")

In [58]:
statement = """ 
INSERT INTO drivers (FirstName,LastName,BirthDate, Nationality, Gender) 
VALUES ('%s', '%s',
        DATE_FORMAT("%s", "%%%%Y-%%%%m-%%%%d"),
        '%s',
        '%s');
""" %(first_name, last_name, birth_date,nationality, gender)

In [85]:
def insert_row(row):
    first_name  = row['first_name']
    last_name   = row['last_name']
    birth_date  = row['birth_date']
    nationality = row['nationality']
    gender      = row['gender']
    
    statement = """ 
    INSERT INTO drivers (FirstName,LastName,BirthDate, Nationality, Gender) 
    VALUES ("%s", "%s",
        DATE_FORMAT("%s", "%%%%Y-%%%%m-%%%%d"),
        "%s",
        "%s");
    """ %(first_name, last_name, birth_date,nationality, gender)
    
    engine.execute(statement)

### 2) Inserting constructors

In [4]:
data = pd.read_csv("data/constructors.csv")
data.head()

In [11]:
drop_table = """
DROP TABLE constructors;
"""

create_table = """
CREATE TABLE constructors (
    ConstructorId INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
    Name varchar(50) NOT NULL,
    Nationality varchar(50) NOT NULL,
    StartYear SMALLINT,
    EndYear SMALLINT,
    entries SMALLINT
    );
"""

select_statement = """
    select * from constructors
"""

In [12]:
engine.execute(create_table)

In [83]:
pd.DataFrame(engine.execute(select_statement))

,0,1,2,3
0,1,Albert Park Grand Prix Circuit,Australia,"-37.8497, 144.968"
1,2,Sepang International Circuit,Malaysia,"2.76083, 101.738"
2,3,Autodromo Jose Carlos Pace,Brazil,"-23.7036, -46.6997"
3,4,Autodromo Enzo E Dino Ferrari,Italy,"44.3439, 11.7167"
4,5,Circuit De Barcelona Catalunya,Spain,"41.57, 2.26111"
5,6,A1 Ring,Austria,"47.2197, 14.7647"
6,7,Circuit De Monaco,Monaco,"43.7347, 7.42056"
7,8,Circuit Gilles Villeneuve,Canada,"45.5, -73.5228"
8,9,Nuerburgring,Germany,"50.3356, 6.9475"
9,10,Circuit De Nevers Magny Cours,France,"46.8642, 3.16361"
10,11,Silverstone Circuit,United Kingdom of Great Britain and Northern I...,"52.0786, -1.01694"
11,12,Hockenheimring,Germany,"49.3278, 8.56583"
12,13,Hungaroring,Hungary,"47.5789, 19.2486"
13,14,Circuit De Spa Francorchamps,Belgium,"50.4372, 5.97139"
14,15,Autodromo Nazionale Di Monza,Italy,"45.6156, 9.28111"
15,16,Indianapolis Motor Speedway,United States of America,"39.795, -86.2347"
16,17,Suzuka Circuit,Japan,"34.8431, 136.541"
17,18,Bahrain International Circuit,Bahrain,"26.0325, 50.5106"
18,19,Shanghai International Circuit,China,"31.3389, 121.22"
19,20,Istanbul Park,Turkey,"40.9517, 29.405"
20,21,Fuji Speedway,Japan,"35.3717, 138.927"
21,22,Valencia Street Circuit,Spain,"39.4589, -0.331667"
22,23,Marina Bay Street Circuit,Singapore,"1.2914, 103.864"
23,24,Yas Marina Circuit,Abu Dhabi,"24.4672, 54.6031"
24,25,Korean International Circuit,Korea (Republic of),"34.7333, 126.417"
25,26,Buddh International Circuit,India,"28.3487, 77.5331"
26,27,Circuit Of The Americas,United States of America,"30.1328, -97.6411"
27,28,Red Bull Ring,Austria,"47.2197, 14.7647"
28,29,Sochi Autodrom,Russia,"43.4057, 39.9578"
29,30,Autodromo Hermanos Rodriguez,Mexico,"19.4042, -99.0907"
30,31,Baku City Circuit,Azerbaijan,"40.3725, 49.8533"
31,32,Circuit Paul Ricard,France,"43.2506, 5.79167"
32,33,Autodromo Internazionale Del Mugello,Italy,"43.9975, 11.3719"
33,34,Autodromo Internacional Do Algarve,Portugal,"37.227, -8.6267"
34,35,Circuit Park Zandvoort,Netherland,"52.3888, 4.54092"
35,36,Losail International Circuit,Qatar,"25.49, 51.4542"
36,37,Jeddah Corniche Circuit,Saudi Arabia,"21.6319, 39.1044"

In [26]:
## engine.execute(drop_table)

In [22]:
data.iloc[0]

name           McLaren
nationality    British
start             1968
end               2022
entries             53
Name: 0, dtype: object

In [23]:
def insert_row(row):
    name  = row['name']
    nationality   = row['nationality']
    start_year    = row['start']
    end_year = row['end']
    entries  = row['entries']
    
    
    statement = """ 
    INSERT INTO constructors (Name,Nationality,StartYear, EndYear, entries) 
    VALUES ("%s", "%s","%s","%s","%s");
    """ %(name, nationality, start_year, end_year, entries)
    
    engine.execute(statement)

In [24]:
for index, row in data.iterrows():
    insert_row(row)

### 3) Inserting Circuits

In [28]:
data = pd.read_csv("data/circuits.csv")
data.head()

                             name    country         coordenates
0  Albert Park Grand Prix Circuit  Australia   -37.8497, 144.968
1    Sepang International Circuit   Malaysia    2.76083, 101.738
2      Autodromo Jose Carlos Pace     Brazil  -23.7036, -46.6997
3   Autodromo Enzo E Dino Ferrari      Italy    44.3439, 11.7167
4  Circuit De Barcelona Catalunya      Spain      41.57, 2.26111

In [76]:
drop_table = """
DROP TABLE circuits;
"""

create_table = """
CREATE TABLE circuits (
    CircuitId INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
    Name varchar(100) NOT NULL,
    Country varchar(100) NOT NULL,
    Coordinates varchar(50)
    );
"""

select_statement = """
    select * from circuits
"""

In [78]:
engine.execute(create_table)

In [82]:
pd.DataFrame(engine.execute(select_statement))

,0,1,2,3
0,1,Albert Park Grand Prix Circuit,Australia,"-37.8497, 144.968"
1,2,Sepang International Circuit,Malaysia,"2.76083, 101.738"
2,3,Autodromo Jose Carlos Pace,Brazil,"-23.7036, -46.6997"
3,4,Autodromo Enzo E Dino Ferrari,Italy,"44.3439, 11.7167"
4,5,Circuit De Barcelona Catalunya,Spain,"41.57, 2.26111"
5,6,A1 Ring,Austria,"47.2197, 14.7647"
6,7,Circuit De Monaco,Monaco,"43.7347, 7.42056"
7,8,Circuit Gilles Villeneuve,Canada,"45.5, -73.5228"
8,9,Nuerburgring,Germany,"50.3356, 6.9475"
9,10,Circuit De Nevers Magny Cours,France,"46.8642, 3.16361"
10,11,Silverstone Circuit,United Kingdom of Great Britain and Northern I...,"52.0786, -1.01694"
11,12,Hockenheimring,Germany,"49.3278, 8.56583"
12,13,Hungaroring,Hungary,"47.5789, 19.2486"
13,14,Circuit De Spa Francorchamps,Belgium,"50.4372, 5.97139"
14,15,Autodromo Nazionale Di Monza,Italy,"45.6156, 9.28111"
15,16,Indianapolis Motor Speedway,United States of America,"39.795, -86.2347"
16,17,Suzuka Circuit,Japan,"34.8431, 136.541"
17,18,Bahrain International Circuit,Bahrain,"26.0325, 50.5106"
18,19,Shanghai International Circuit,China,"31.3389, 121.22"
19,20,Istanbul Park,Turkey,"40.9517, 29.405"
20,21,Fuji Speedway,Japan,"35.3717, 138.927"
21,22,Valencia Street Circuit,Spain,"39.4589, -0.331667"
22,23,Marina Bay Street Circuit,Singapore,"1.2914, 103.864"
23,24,Yas Marina Circuit,Abu Dhabi,"24.4672, 54.6031"
24,25,Korean International Circuit,Korea (Republic of),"34.7333, 126.417"
25,26,Buddh International Circuit,India,"28.3487, 77.5331"
26,27,Circuit Of The Americas,United States of America,"30.1328, -97.6411"
27,28,Red Bull Ring,Austria,"47.2197, 14.7647"
28,29,Sochi Autodrom,Russia,"43.4057, 39.9578"
29,30,Autodromo Hermanos Rodriguez,Mexico,"19.4042, -99.0907"
30,31,Baku City Circuit,Azerbaijan,"40.3725, 49.8533"
31,32,Circuit Paul Ricard,France,"43.2506, 5.79167"
32,33,Autodromo Internazionale Del Mugello,Italy,"43.9975, 11.3719"
33,34,Autodromo Internacional Do Algarve,Portugal,"37.227, -8.6267"
34,35,Circuit Park Zandvoort,Netherland,"52.3888, 4.54092"
35,36,Losail International Circuit,Qatar,"25.49, 51.4542"
36,37,Jeddah Corniche Circuit,Saudi Arabia,"21.6319, 39.1044"

In [77]:
engine.execute(drop_table)

In [80]:
def insert_row(row):
    name    = row['name']
    country = row['country']
    coordinates  = row['coordenates']

    
    statement = """ 
    INSERT INTO circuits (Name, Country, Coordinates) 
    VALUES ("%s", "%s","%s");
    """ %(name, country, coordinates)
    
    engine.execute(statement)

In [81]:
for index, row in data.iterrows():
    insert_row(row)

### 4) Inserting Races

### 5) Inserting Grid Results

### 6) Inserting Race Results

### 7) Inserting Constructor Drivers